<!-- wp:template-part {"slug":"header","theme":"darkmatter","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main", "layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:template-part {"slug":"hero","theme":"darkmatter"} /-->

<!-- wp:group {"className":"dm-projects","layout":{"type":"constrained","contentSize":"800px"}} -->
<div class="wp-block-group dm-projects">
    <!-- wp:heading -->
    <h2 class="wp-block-heading">Projects</h2>
    <!-- /wp:heading -->

    <!-- wp:dm-project-plugin/project-block -->
    <div class="wp-block-dm-project-plugin-project-block"></div>
    <!-- /wp:dm-project-plugin/project-block -->

    <!-- wp:dm-project-plugin/project-block -->
    <div class="wp-block-dm-project-plugin-project-block"></div>
    <!-- /wp:dm-project-plugin/project-block -->

    <!-- wp:dm-project-plugin/project-block -->
    <div class="wp-block-dm-project-plugin-project-block"></div>
    <!-- /wp:dm-project-plugin/project-block -->

    <!-- wp:dm-project-plugin/project-block -->
    <div class="wp-block-dm-project-plugin-project-block"></div>
    <!-- /wp:dm-project-plugin/project-block -->
</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-home","theme":"darkmatter","tagName":"footer","className":"site-footer"} /-->
